body {
    background: rgb(159,17,17);
    background: linear-gradient(0deg, rgba(159,17,17,1) 0%, rgba(255,66,66,1) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, li, a {
    color:antiquewhite;
}