body {
    background: rgb(66,65,77);
    background: linear-gradient(139deg, rgba(66,65,77,1) 0%, rgba(84,84,185,1) 41%, rgba(67,67,201,1) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}